<div class="row normSec g-0" id="home">

  <!------------------------------------------SECTIONS------------------------------------------------------>
  <div class="col-12 col-md organize sizeSecContentSm g-0">

    <div class="position-absolute top-0 end-0">
        <button class="log organizePos" type="button" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
        <button class="log off">Logout</button>
    </div>
    <app-login></app-login>

    <!------------------------------------------HOME SECTION------------------------------------------------------>
    <div class="organizePos sizeEduSec d-flex justify-content-center align-items-center">



      <div>

        <h1>Hola!</h1>
        <h2>Soy</h2><h1>Aixa</h1>
        <h3>{{level}} {{career}}</h3>

      </div>

  </div>

  <!------------------------------------------END HOME SECTION------------------------------------------------------>


<!------------------------------------------EDUCATION SECTION------------------------------------------------------>
    <div class="organizePos sizeEduSec d-flex justify-content-center align-items-center" *ngIf="arrShowSec[0]">

        <mat-tab-group mat-align-tabs="center" class="sizeEduSec">

          <mat-tab label="Educación">
            <ul>
              <li *ngFor="let edu of eduData">
                <h5>{{edu.title}}</h5>
                <p>{{edu.description}}</p>
              </li>
            </ul>
          </mat-tab>

          <mat-tab label="Cursos">
            <ul>
              <li *ngFor="let edu of eduData">
                <h5>{{edu.title}}</h5>
                <p>{{edu.description}}</p>
              </li>
            </ul>
          </mat-tab>

          <mat-tab label="Certificaciones">
            <ul>
              <li *ngFor="let edu of eduData">
                <h5>{{edu.title}}</h5>
                <p>{{edu.description}}</p>
              </li>
            </ul>
          </mat-tab>

        </mat-tab-group>

    </div>

    <!------------------------------------------END EDUCATION SECTION------------------------------------------------------>
<!------------------------------------------SKILLS SECTION------------------------------------------------------>
    <div class="vis organizePos sizeEduSec d-flex justify-content-center align-items-center" *ngIf="arrShowSec[1]">
      <mat-tab-group mat-align-tabs="center" class="sizeEduSec">

        <mat-tab label="Hard Skills">
          <ul>
            <li *ngFor="let edu of eduData">
              <h5>{{edu.title}}</h5>
              <p>{{edu.description}}</p>
            </li>
          </ul>
        </mat-tab>

        <mat-tab label="Soft Skills">
          <ul>
            <li *ngFor="let edu of eduData">
              <h5>{{edu.title}}</h5>
              <p>{{edu.description}}</p>
            </li>
          </ul>
        </mat-tab>

      </mat-tab-group>
    </div>

    <!------------------------------------------END SKILLS SECTION------------------------------------------------------>
<!------------------------------------------LABORATORY SECTION------------------------------------------------------>
<div class="vis organizePos sizeEduSec d-flex justify-content-center align-items-center" *ngIf="arrShowSec[2]">
  <mat-tab-group mat-align-tabs="center" class="sizeEduSec">

    <mat-tab label="Laboratory">
      <ul>
        <li *ngFor="let edu of eduData">
          <h5>{{edu.title}}</h5>
          <p>{{edu.description}}</p>
        </li>
      </ul>
    </mat-tab>

  </mat-tab-group>
</div>

<!------------------------------------------END LABORATORY SECTION------------------------------------------------------>
<!------------------------------------------PROJECTS SECTION------------------------------------------------------>

<div class="vis organizePos sizeEduSec d-flex justify-content-center align-items-center" *ngIf="arrShowSec[3]">
  <mat-tab-group mat-align-tabs="center" class="sizeEduSec">

    <mat-tab label="Projects">
      <ul>
        <li *ngFor="let edu of eduData">
          <h5>{{edu.title}}</h5>
          <p>{{edu.description}}</p>
        </li>
      </ul>
    </mat-tab>

  </mat-tab-group>
</div>
<!------------------------------------------END PROJECTS SECTION------------------------------------------------------>
  </div>

  <!------------------------------------------END SECTION------------------------------------------------------>

  <!------------------------------------------SECTION BUTTONS------------------------------------------------------>

  <div class="d-none d-md-flex col-md-3 d-flex justify-content-center align-items-center">

    <div class="d-none d-md-block">

      <div class="bttnSec">
        <div class="d-flex w-100 h-100 align-items-center justify-content-center">
          <button onclick="" class="secBttn" (click)="showSec(0)"><fa-icon [icon]="faBook"></fa-icon></button>
        </div>
      </div>

      <div class="bttnSec">
          <div class="d-flex w-100 h-100 align-items-center justify-content-center">
            <button onclick="" class="secBttn" (click)="showSec(1)" ><fa-icon [icon]="faBrain"></fa-icon></button>
          </div>
      </div>

      <div class="bttnSec">
          <div class="d-flex w-100 h-100 align-items-center justify-content-center">
            <button onclick="" class="secBttn" (click)="showSec(2)" ><fa-icon [icon]="faFlask"></fa-icon></button>
          </div>
      </div>

      <div class="bttnSec">
          <div class="d-flex w-100 h-100 align-items-center justify-content-center">
            <button onclick="" class="secBttn" (click)="showSec(3)" ><fa-icon [icon]="faCoffee"></fa-icon></button>
          </div>
      </div>

    </div>

  </div>

  <div class="row sizeSecBttnSm d-md-none g-0">

    <div class="col"></div>

    <div class="col buttonSec2 d-inline " >
        <button onclick="" class="secBttn2" (click)="showSec(0)"><fa-icon [icon]="faBook"></fa-icon></button>
    </div>

    <div class="col buttonSec2 d-inline ">
          <button onclick="" class="secBttn2" (click)="showSec(1)" ><fa-icon [icon]="faBrain"></fa-icon></button>
    </div>

    <div class="col buttonSec2 d-inline">
          <button onclick="" class="secBttn2" (click)="showSec(2)" ><fa-icon [icon]="faFlask"></fa-icon></button>
    </div>

    <div class="col buttonSec2 d-inline">
          <button onclick="" class="secBttn2" (click)="showSec(3)" ><fa-icon [icon]="faCoffee"></fa-icon></button>
    </div>

    <div class="col"></div>


</div>

  <!------------------------------------------END SECTION BUTTONS------------------------------------------------------>

</div>
