.log{
  background-color: rgb(95, 208, 212);
  color: black;
  border: none;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Emilys Candy', cursive;
  font-size: 1.5em;
}

.ml {
  margin-left: 20px;
}

.secBttn {
  width: 80%;
  height: 80%;
  background-color: rgb(95, 208, 212);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  color: black;
  border: none;

}

.secBttn2 {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  color: black;
  border: none;
  background-color: transparent;
  display: inline;
}

.bttnSec{
  width: 125px;
  height: 125px;
  margin: 5%;
  padding: 1%;
  background-color: white;
  border-radius: 20px;
  border: 5px solid rgb(255, 94, 161);
  overflow: hidden;
  color: black;
}

.buttonSec2{
  width: 50px;
  height: 50px;
  color: black;
  display: inline;
}

.sizeSecBttnSm{
  height: 20%;
}

.sizeSecContentSm{
  height: 80%;
}

.organize {
  position: relative;
}
.organizePos {
  position: absolute;
}

.off{
  visibility: hidden;
}

.color {
  background-color:rgb(95, 208, 212);
}


/*--------------------------EDUCATION SEC-----------------------------------------------------------------------------*/

mat-tab-group{
  background-color: white;
  border: 5px solid rgb(255, 94, 161);
  border-radius: 20px;

}
.mat-tab-label{
  color: black;
  background-color: rgb(95, 208, 212);

}

mat-tab-header mat-tab-header-pagination button {
  color: black;
  background-color: black;
}

.sizeEduSec {
  width: 95%;
  height: 95%;
}

.barAdjust{
  width: 50px;
}

.adjust {
  width: 25px;
  overflow: hidden;
}

.fixFooter{
  height: 5%;
}
/*-----------------------------------------------------------------------------------------------------------*/

