 <!--SIDEBAR -------------------------------------------------------------->
 <div id="sidemenu" [class]="toggle()">

  <div id="header">

    <div id="title" class="">

        <app-btn (btnCliked)="toggle()"></app-btn>

    </div>

    <div id="presentation" class="text-center">

        <img src="../../../assets/img/fotoPerfil.jpeg" alt="" class="portraitImage img-fluid rounded-circle">

        <h1 class="title">Una frase que me gusta</h1>

        <p class="frase">"una frase que me gusta mucho"</p>

        <div class="container">
          <div class="headerLog d-flex justify-content-center">
            <h2 class="" >Login</h2>
          </div>
          <div class="bodyLog d-flex justify-content-center">
            <form action="" method="">
              <label for="userName" class="d-block">Nombre de usuario</label>
              <input type="text" id="name" class="d-block">
              <label for="password" class="d-block">Contraseña</label>
              <input type="password" id="email" class="d-block">
            </form>
          </div>
          <div class="footerLog d-flex justify-content-center">
            <button type="button" class="log">Login</button>
          </div>
        </div>

    </div>
  </div>

 </div>
  <!--END OF THE SIDEBAR-------------------------------------------------------------------------------->
