 <!--SIDEBAR -------------------------------------------------------------->
 <div id="sidemenu" [class]="toggle()">

  <div id="header">

    <div id="title" class="">

        <app-btn (btnCliked)="toggle()"></app-btn>

    </div>

    <div id="presentation" class="text-center">

        <img src="../../../assets/img/fotoPerfil.jpeg" alt="" class="portraitImage img-fluid rounded-circle">

        <h1 class="title">Una frase que me gusta</h1>

        <p class="frase">"una frase que me gusta mucho"</p>

    </div>
  </div>

 </div>
  <!--END OF THE SIDEBAR-------------------------------------------------------------------------------->
