<div class="modal fade " id="loginModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="staticBackdropLabel">Login</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action=" " method="">
          <label for="userName" class="d-block">Nombre de usuario</label>
          <input type="text" id="name" class="d-block">

          <label for="password" class="d-block">Contraseña</label>
          <input type="password" id="email" class="d-block">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="log" data-bs-dismiss="modal">Close</button>
        <button type="button" class="log">Login</button>
      </div>
    </div>
  </div>
</div>
