*{
  margin: 0;
  padding: 0;
}

.c1 {
  font-size: clamp(3rem, 12vw + 1rem, 12rem);
  letter-spacing: 0.2em;
  font-family: 'Emilys Candy', cursive;
  padding: 20px;
}

.c1 span {
  display: inline-block;
}

h2 {
  font-family: 'Paytone One', cursive;
  font-size: clamp(1.3rem, 4vw + 1rem, 4rem);
}

h3 {
  font-family: 'Paytone One', cursive;
  font-size: clamp(0.8rem, 2vw + 1rem, 2rem);
}



