/* You can add global styles to this file, and also import other style files */
*{
  margin: 0%;
  padding: 0%;

}



::-webkit-scrollbar {
  display: none;
}

html, body{
  margin: 0;
  padding: 0;
}

.normSec {
  height: 100vh;
}

body {
  background-image: url(assets/img/background2.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  user-select: none;
}

/*
  SIDEBAR LEFT-------------------------------------------------->
*/

/*VARIABLES*/
:root{
  --width: 400px;
  --padding: 10px;
  --bgcolor: rgba(33, 37, 41, 1);
  --hovercolor: rgb(255, 94, 161);;
  --width-collapsed: 50px;
}
/* ----------------------------- */


.body-expanded{
  margin-left: var(--width);
}

#main-container{
  color: rgb(29, 26, 27);
}

#sidemenu{
  background-color: var(--bgcolor);
  color: white;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
}

#sidemenu #header {
  box-sizing: border-box;

}

#sidemenu #header #title{
  box-sizing: border-box;

}

#menu-btn{
  text-align: end;
  border-radius: 50px;
  background-color: var(--hovercolor);
}

#sidemenu #header #menu-btn{
  display: inline-block;
}

#sidemenu #header #menu-btn {
  /*cursor: pointer;*/
  padding: 10px;
  width: var(--width-collapsed);
  box-sizing: border-box;
}

#menu-btn:hover {
  background-color: var(--hovercolor);
}

#presentation{
  padding: 0px;
}

.menu-expanded{
  width: var(--width);
  box-shadow: 0 0 10px rgb(255, 94, 161);
  z-index: 3;
}

.menu-expanded #header #title {
  text-align: end;
  display: inline-block;
  width: calc(100%);
  margin-right: -5px;
  padding: var(--padding);

}

.menu-expanded #presentation {
  width: 100%;
}

.menu-collapsed{
  width: var(--width-collapsed);
  padding: 20px;
}

.menu-collapsed #presentation {
  display: none;
}

.portraitImage {
  width: 8rem;
  border: 5px white;
  margin-top: 20px;
  margin-bottom: 20px;


}

.title{
color: rgb(95, 208, 212);
}

.frase{
color: white;
}

/*

END OF THE SIDEBAR LEFT ------------------------------------------------------------------------------------->

*/



app-header{
  z-index: 1;
}
app-side-bar{
  z-index: 2;
}
app-footer{
  z-index: 4;
}
